{% extends 'logged-in.base.html.twig' %}

{% block title %}Downloads{% endblock %}

{% block body %}

<div id="dashboard">
    <div id="side-panel">
        <div onclick="window.location.href = '/downloads';" class="active">
            <h3>Downloads</h3>
        </div>
        <div onclick="window.location.href = '/uploads';">
            <h3>Upload Files</h3>
        </div>
    </div>
    <div id="files">
        <div id="files-header">
            <h5 class="file-name">Title</h5>
            <h5 class="file-date">Date Created</h5>
            <h5 class="file-download">Download</h5>
        </div>
            {% for data in dataArray %}
                <div>
                    <h5 class="file-name">{{ data.file_name }}</h5>
                    <h5 class="file-date">{{ data.uploaded_on }}</h5>
                    <div class="file-download">
                        <a class="download-a" href="/download/{{ user_id }}/{{ data.file_name }}">Download</a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
