{% extends 'logged-in.base.html.twig' %}

{% block title %}Downloads{% endblock %}

{% block body %}

<div id="dashboard">
    <div id="side-panel">
        <div onclick="window.location.href = '/downloads';" class="active">
            <h3>Downloads</h3>
        </div>
        <div onclick="window.location.href = '/uploads';">
            <h3>Upload Files</h3>
        </div>
    </div>
    <div id="files">
        <div id="files-header">
            <h5 class="file-name">Title</h5>
            <h5 class="file-size">File Size</h5>
            <h5 class="file-date">Date Created</h5>
            <h5 class="file-download">Download</h5>
        </div>       
    </div>
</div>

{% endblock %}
