{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}

{% block body %}

<div id="dashboard">
    <div id="side-panel">
        <div class="active">
            <h3>Downloads</h3>
        </div>
        <div>
            <h3>Upload Files</h3>
        </div>
    </div>
    <div id="files">
        <div id="files-header">
            <h5 class="file-name">Title</h5>
            <h5 class="file-size">File Size</h5>
            <h5 class="file-date">Date Created</h5>
            <h5 class="file-download">Download</h5>
        </div>
            {% for data in dataArray %}
                <div>
                    <h5 class="file-name">{{ data.file_name }}</h5>
                    <h5 class="file-size">3.42 MB</h5>
                    <h5 class="file-date">{{ data.uploaded_on }}</h5>
                    <div class="file-download">
                        <button class="download">Download</button>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
